---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Error 404" description="">
  <Container>
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">404</h1>
        <p class="text-lg mt-4 text-slate-600">Página no encontrada.</p>
        <img src="/404.webp" alt="404" class="w-1/2 mx-auto mt-8" />
      </div>
    </div>
  </Container>
</Layout>
