---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
import Sectionhead from '@components/sectionhead.astro';
import Post from '@components/ui/post.astro';

const entries = await getCollection('blog', ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

entries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout
  title='Blog'
  description='Mantente al día con el blog de Faedo Digital. Noticias, tendencias y consejos útiles sobre el mundo digital para mejorar tu presencia online y potenciar tu negocio rural.'>
  <Container>
    <Sectionhead>
      <Fragment slot='title'>Blog</Fragment>
      <Fragment slot='desc'>
        Explora artículos sobre nuestros últimos proyectos
      </Fragment>
    </Sectionhead>
    <main class='mt-16'>
      <ul class='grid gap-16 max-w-4xl mx-auto'>
        {
          entries.map((p) => (
            <li>
              <Post post={p.data} slug={p.slug} />
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
