---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Tienda' description='Compra nuestro merchan a un precio único'>
  <div class='grid sm:grid-cols-3 gap-10 mx-auto mt-24 max-w-5xl'>
    <div
      class='ecsp ecsp-SingleProduct-v2 ecsp-SingleProduct-v2-centered ecsp-Product ec-Product-674966498 rounded-xl p-8 bg-gray-50 border-2 border-slate-200 h-full'
      itemscope
      itemtype='http://schema.org/Product'
      data-single-product-id='674966498'>
      <div itemprop='image'></div><div
        class='ecsp-title'
        itemprop='name'
        content='Camiseta Unisex'>
      </div><div itemtype='http://schema.org/Offer' itemscope itemprop='offers'>
        <div
          class='ecsp-productBrowser-price ecsp-price'
          itemprop='price'
          content='7.5'
          data-spw-price-location='button'>
          <div itemprop='priceCurrency' content='EUR'></div>
        </div>
      </div><div customprop='options'></div><div customprop='qty'></div><div
        customprop='addtobag'>
      </div><div customprop='vatinprice'></div>
    </div><script
      data-cfasync='false'
      type='text/javascript'
      src='https://app.ecwid.com/script.js?105651587&data_platform=singleproduct_v2'
      charset='utf-8'></script><script type='text/javascript'>
      xProduct();
    </script>
    <div
      class='ecsp ecsp-SingleProduct-v2 ecsp-SingleProduct-v2-centered ecsp-Product ec-Product-674820698 rounded-xl p-8 bg-gray-50 border-2 border-slate-200 h-full'
      itemscope
      itemtype='http://schema.org/Product'
      data-single-product-id='674820698'>
      <div itemprop='image'></div><div
        class='ecsp-title'
        itemprop='name'
        content='Bloc de notas'>
      </div><div itemtype='http://schema.org/Offer' itemscope itemprop='offers'>
        <div
          class='ecsp-productBrowser-price ecsp-price'
          itemprop='price'
          content='16.99'
          data-spw-price-location='button'>
          <div itemprop='priceCurrency' content='EUR'></div>
        </div>
      </div><div customprop='options'></div><div customprop='qty'></div><div
        customprop='addtobag'>
      </div><div customprop='vatinprice'></div>
    </div><script
      data-cfasync='false'
      type='text/javascript'
      src='https://app.ecwid.com/script.js?105651587&data_platform=singleproduct_v2'
      charset='utf-8'></script><script type='text/javascript'>
      xProduct();
    </script>

    <div
      class='ecsp ecsp-SingleProduct-v2 ecsp-SingleProduct-v2-centered ecsp-Product ec-Product-674839287 rounded-xl p-8 bg-gray-50 border-2 border-slate-200 h-full'
      itemscope
      itemtype='http://schema.org/Product'
      data-single-product-id='674839287'>
      <div itemprop='image'></div><div
        class='ecsp-title'
        itemprop='name'
        content='Taza blanca brillante'>
      </div><div itemtype='http://schema.org/Offer' itemscope itemprop='offers'>
        <div
          class='ecsp-productBrowser-price ecsp-price'
          itemprop='price'
          content='8.99'
          data-spw-price-location='button'>
          <div itemprop='priceCurrency' content='EUR'></div>
        </div>
      </div><div customprop='options'></div><div customprop='qty'></div><div
        customprop='addtobag'>
      </div><div customprop='vatinprice'></div>
    </div><script
      data-cfasync='false'
      type='text/javascript'
      src='https://app.ecwid.com/script.js?105651587&data_platform=singleproduct_v2'
      charset='utf-8'></script><script type='text/javascript'>
      xProduct();
    </script>
  </div>
</Layout>
