---
const features = [
  {
    title: 'Creaci贸n de P谩ginas Web',
    description:
      'Dise帽amos y desarrollamos sitios web a medida, optimizados para ofrecer la mejor experiencia de usuario.',
    icon: '',
  },
  {
    title: 'Sistemas de Reservas',
    description:
      'Implementamos sistemas de reservas para restaurantes y hoteles, facilitando la gesti贸n y la comodidad de los clientes.',
    icon: '',
  },
  {
    title: 'Tiendas Online',
    description:
      'Desarrollamos tiendas online para la venta de productos elaborados, integrando soluciones de pago seguras y eficientes.',
    icon: '',
  },
  {
    title: 'Posicionamiento en Buscadores (SEO)',
    description:
      'Mejoramos el posicionamiento de tu web en los motores de b煤squeda para aumentar el tr谩fico y las conversiones.',
    icon: '',
  },
  {
    title: 'Gesti贸n de Redes Sociales',
    description:
      'Te ayudamos a crear y gestionar perfiles en redes sociales como por ejemplo Facebook e Instagram para aumentar la visibilidad de tu empresa.',
    icon: '',
  },
  {
    title: 'Consultor铆a y Formaci贸n',
    description:
      'Ofrecemos servicios de consultor铆a y formaci贸n para que puedas gestionar tu web y tus redes sociales de forma aut贸noma-',
    icon: '',
  },
];
---

<section class='mt-16 md:mt-0'>
  <h2
    class='text-4xl lg:text-5xl font-bold lg:tracking-tight text-center md:text-left'>
    Ofrecemos los servicios que <span class='underlined'>necesitas</span>
  </h2>
  <p class='text-lg mt-4 text-slate-600'>
    Nos adaptamos a tus necesidades para ofrecerte un servicio personalizado y
    de calidad. Nuestra misi贸n es ayudarte a alcanzar tus objetivos y a hacer
    crecer tu negocio.
  </p>

  <div class='grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16'>
    {
      features.map((item) => (
        <div class='flex gap-4 items-start'>
          <div class='w-8 h-8 text-3xl'>{item.icon}</div>
          <div>
            <h3 class='font-semibold text-lg'>{item.title}</h3>{' '}
            <p class='text-slate-500 mt-2 leading-relaxed'>
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
