<footer class='py-14 bg-slate-100 border-t border-slate-100 mt-20'>
  <div class='max-w-screen-xl mx-auto px-5'>
    <div class='grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8'>
      <div class='sm:col-span-2 md:col-span-3 lg:col-span-2'>
        <a href='/' class='text-lg flex gap-3 items-center'>
          <img
            src={'/faedo-digital-logo.svg'}
            width='32'
            alt='Logo Faedo Digital'
          />
          <span class='font-bold text-slate-800'
            >Faedo <span class='text-slate-500 font-normal'>Digital</span></span
          >
        </a>
        <p class='mt-4 text-sm text-slate-700 max-w-xs'>
          Faedo Digital es una empresa de desarrollo de software especializada
          en soluciones digitales para empresas en entornos rurales.
        </p>
      </div>
      <div>
        <h3 class='font-medium text-sm text-slate-800'>Empresa</h3>
        <div class='flex flex-col mt-3'>
          <a
            href='/sobre-nosotros'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            Sobre nosotros
          </a><a
            href='/proyectos'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            Proyectos
          </a><a
            href='/blog'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            Blog
          </a><a
            href='/contacto'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            Contacto
          </a>
        </div>
      </div>
      <div>
        <h3 class='font-medium text-sm text-slate-800'>Servicios</h3>
        <div class='flex flex-col mt-3'>
          <a
            href='/blog/para-casas-rurales'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            Para casas rurales
          </a><a
            href='/blog/para-restaurantes'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            Para restaurantes
          </a><a
            href='/blog/para-empresas-de-productos-elaborados'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            Para empresas de productos elaborados
          </a>
        </div>
      </div>
      <div>
        <h3 class='font-medium text-sm text-slate-800'>Recursos</h3>
        <div class='flex flex-col mt-3'>
          <a
            href='/blog/proceso-de-desarrollo'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            Proceso de desarrollo
          </a><a
            href='/blog/tecnologia-en-el-mundo-rural'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            La tecnología en el mundo rural
          </a><a
            href='/blog/mision-vision'
            class='py-2 text-sm text-slate-600 hover:text-indigo-600'>
            Nuestra misión y visión
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='mt-14 pt-8 px-5 border-t border-slate-200'>
    <div class='max-w-screen-xl mx-auto px-5'>
      <p class='text-center text-sm text-slate-600 [text-wrap:balance]'>
        {new Date().getFullYear()} Faedo Digital. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
