---
// @ts-ignore
import { Icon } from 'astro-icon/components';
---

<div class='mt-24'>
  <h2 class='text-center text-slate-500'>
    Trabajamos con las últimas tecnologías
  </h2>
  <div class='flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap'>
    <Icon title='ReactJS' class='size-8 md:size-12' name='simple-icons:react' />
    <Icon
      title='NextJS'
      class='size-8 md:size-12'
      name='simple-icons:nextdotjs'
    />
    <Icon title='Astro' class='size-8 md:size-12' name='simple-icons:astro' />
    <Icon
      title='Tailwind'
      class='size-8 md:size-16'
      name='simple-icons:tailwindcss'
    />
    <Icon title='Vercel' class='size-8 md:size-12' name='simple-icons:vercel' />
    <Icon
      title='Cloudflare'
      class='size-8 md:size-12'
      name='simple-icons:cloudflare'
    />
  </div>
</div>
