---
import { SEO } from "astro-seo";
import { ClientRouter } from "astro:transitions";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title, description } = Astro.props;

const makeTitle = title
  ? title + " | " + "Faedo Digital"
  : "Faedo Digital | Soluciones Digitales para el Entorno Rural";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {
      import.meta.env.PROD && (
        <script
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="926d498a-3c35-4aad-9fb0-266e646c4e41"
        />
      )
    }

    <SEO
      title={makeTitle}
      description={description ||
        "Faedo Digital, es una empresa de soluciones digitales especializada en ayudar a negocios rurales. Ofrecemos servicios de creaci칩n de p치ginas web, gesti칩n de redes sociales, sistemas de reservas y m치s."}
      canonical={canonicalURL}
      twitter={{
        creator: "@elchiconube",
        site: "@faedodigital",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Faedo Digital - Soluciones Digitales para el Entorno Rural`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Faedo Digital Homepage Screenshot",
        },
      }}
    />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      :root {
        --color-primary: #059669;
      }
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      .underlined {
        background-image: linear-gradient(
          transparent calc(100% - 0.15em),
          var(--color-primary) 0.15em
        );
        background-position: left bottom 0.03em;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline;
        font-weight: inherit;
        transition: background-size 0.6s cubic-bezier(0.45, 0, 0.55, 1);
      }
    </style>
  </body>
</html>
