---

---

<li class="flex items-start text-sm text-slate-600">
  <svg
    class="w-4 h-4 text-green-500 mr-2 mt-0.5 flex-shrink-0"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 13l4 4L19 7"></path>
  </svg>
  <div class="flex-1 text-slate-600">
    <slot />
  </div>
</li>
